<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>examen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <h2>Transaction Status</h2>

  <ion-chip
    [ngClass]="statusClasses()"
    color="light"
    class="status-chip ion-padding"
  >

    <ion-label>{{ statusText()}} </ion-label>
</ion-chip>

<p class="ion-padding-top">
  Sent: <strong>{{ sent() ? 'true' : 'false'}}</strong>
  Approved: <strong>{{ approved() ? 'true' : 'false'}}</strong>
</p>
</ion-content>